<div class="page-header text-center", id="stock-search">	
	<h2>Search for your stocks here!</h2>
	<%= form_for @search, url: pages_path, remote: true do |f| %>
	  <p><%= f.text_field :query %></p>
	  <p><%= f.submit %></p>
	<% end %>
</div>

<div id="results">

</div>